{% extends "base.html" %}
{% load custom_markdown %}

{% block content %}
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">{{ art.title }}</h2>
            <p class="post-meta"> 
                <a class="post-author" href="#">{{ art.datetime|date:"Y /m /d"}}</a> 
                publish by 
                <a class="post-author" href="#">{{ art.author }}</a> 
            </p>
        </header>
    
        <div class="post-description">
            <p>
                {{ art.content | custom_markdown }}
            </p>
        </div>
    </section>
    {% include "duoshuo.html"%}
</div>
{% endblock %}
