{% extends "base.html" %}

{% block heading %}
    <h1>Nafei's BLOG</h1>
    <hr class="small">
    <span class="subheading">点滴记录那匪成长</span>
{% endblock %}

{% block content %}
    <div class="col-lg-9">
        {% for art in artlist %}
            <div class="post-preview">
                <a href="{% url "detail" id=art.id %}">
                    <h2 class="post-title">
                        {{ art.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ art.summary }}
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="#">{{ art.author }}</a> {{ art.datetime }} </p>
            </div>
            <hr>
        {% endfor %}
        <!-- Pager -->
        <ul class="pager">
            <li class="next">
                {% if next_page %}
                    <a href="/list/{{ next_page }}_{{ cate }}/">Next Page&rarr;</a>
                {% endif %}
                {% if pre_page %}
                    <a href="/list/{{ pre_page }}_{{ cate }}/">Pre Page&rarr;</a>
                {% endif %}
            </li>
        </ul>
    </div>
{% endblock %}
